# Configuration file for https://shellcheck.net (which should be run by your IDE)

# Variable appears unused. Verify use (or export if used externally).
disable=SC2034

# Double quote to prevent globbing and word splitting.
disable=SC2086

# github.com/koalaman/shellcheck/blob/master/shellcheck.1.md#rc-files — .shellcheckrc example how to do it even more strict:

# Turn on warnings for unquoted variables with safe values
# enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
# enable=check-unassigned-uppercase
